* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

p2 {
  font-size: 12px;
  color: gray;
}

p {
  font-size:14px;
}

hr {
  width: 80%;
  height: 1px;
  text-align: center;
  color: grey;
}

.add-to-watchlist,
.remove-from-watchlist {
  font-size: 14px;
}

body {
  width: 550px;
  height: 779px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 1px solid black;
}

header {
  position: relative; /* Make it the positioning context */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
}

header {
  background-image: url("images/find-film-header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  overflow: hidden; /* optional: keeps overlay clean */
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  z-index: 1; /* Make sure overlay is above the background image */
}

header h1,
header a {
  z-index: 2;
  color: white;
}

form {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

#search-icon {
  height: 2rem;
  width: auto;
}

input {
  border-radius: 5px 0 0 5px;
  width: 300px;
  border: 1px solid grey;
  height: 2rem;
}

#submit {
  border-radius: 0 5px 5px 0;
  border: 1px solid grey;
  width: 150px;
  height: 2.3rem;
}

.movie {
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 3rem 1rem;
  gap: 20px;
}

.movie-subheader {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.poster-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 10px;
}

.movie-poster {
  height: auto;
  width: 100%;
}

.movie-info-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  gap: 10px;
}

a:hover {
  color: blue;
}

#watch-list {
  overflow-y: scroll;
  overflow-x: hidden;
}
